{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Zeit erfassen" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title mb-0">{% trans "Zeit erfassen" %}</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.date }}  {# Hidden field #}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.display_date|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.scheduled_hours|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.start_time|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.end_time|as_crispy_field }}
                        </div>
                    </div>
                    {{ form.break_duration|as_crispy_field }}
                    {{ form.notes|as_crispy_field }}
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">{% trans "Speichern" %}</button>
                        <a href="{% url 'wfm:monthly-overview' %}" class="btn btn-outline-secondary">
                            {% trans "Abbrechen" %}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 