{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'wfm:dashboard' %}">Zeiterfassung</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto">
                    {% if user.role == 'OWNER' %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" 
                               href="{% url 'wfm:dashboard' %}">
                                <i class="bi bi-speedometer2"></i> Dashboard
                            </a>
                        </li>
                        
                        
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'admin:index' %}">
                                        <i class="bi bi-tools"></i> Admin-Bereich
                                    </a>
                                </li>
                             
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="bi bi-gear"></i> Verwaltung Assistenzen
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'wfm:working-hours-list' %}">
                                        <i class="bi bi-clock"></i> Arbeitszeiten - Liste
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'wfm:assistant-calendar' %}">
                                        <i class="bi bi-clock"></i> Arbeitszeiten - Kalender
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'wfm:vacation-list' %}">
                                        <i class="bi bi-calendar-check"></i> Urlaub
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="bi bi-gear"></i> Verwaltung Therapeuten
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'wfm:therapist-booking-list' %}">
                                        <i class="bi bi-clock"></i> Buchungen - Liste
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'wfm:therapist-calendar' %}">
                                        <i class="bi bi-calendar3"></i> Buchungen - Kalender
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'wfm:therapist-monthly-overview' %}">
                                        <i class="bi bi-list"></i> Monatsübersicht
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% elif user.role == 'THERAPIST' %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'therapist-monthly-overview' %}active{% endif %}" 
                               href="{% url 'wfm:therapist-monthly-overview' %}">
                                <i class="bi bi-list"></i> Monatsübersicht
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'calendar' %}active{% endif %}" 
                               href="{% url 'wfm:calendar' %}">
                                <i class="bi bi-calendar3"></i> Kalender
                            </a>
                        </li>
                    {% else %} {# ASSISTANT #}
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'monthly-overview' %}active{% endif %}" 
                               href="{% url 'wfm:monthly-overview' %}">
                                <i class="bi bi-list"></i> Monatsübersicht
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'calendar' %}active{% endif %}" 
                               href="{% url 'wfm:calendar' %}">
                                <i class="bi bi-calendar3"></i> Kalender
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="bi bi-plus-circle"></i> Neu
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'wfm:vacation-request' %}">
                                        <i class="bi bi-calendar-plus"></i> Urlaub beantragen
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'wfm:time-compensation-add' %}">
                                        <i class="bi bi-clock-plus"></i> Zeitausgleich beantragen
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-person-circle"></i> {{ user.get_full_name|default:user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="{% url 'wfm:logout' %}">
                                    <i class="bi bi-box-arrow-right"></i> Abmelden
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav> 