{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-4">
    <h1>{% trans "Meine Übersicht" %}</h1>
    
    <div class="row g-4">
        <!-- Buchungen -->
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">{% trans "Buchungen" %}</h5>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <a href="{% url 'wfm:therapist-calendar' %}" class="list-group-item list-group-item-action">
                            {% trans "Mein Kalender" %}
                        </a>
                        <a href="{% url 'wfm:therapist-booking-list' %}" class="list-group-item list-group-item-action">
                            {% trans "Meine Buchungen" %}
                        </a>
                        <a href="{% url 'wfm:therapist-monthly-overview' %}" class="list-group-item list-group-item-action">
                            {% trans "Monatsübersicht" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Abwesenheiten -->
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">{% trans "Abwesenheiten" %}</h5>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <a href="{% url 'wfm:absence-list' %}" class="list-group-item list-group-item-action">
                            {% trans "Meine Abwesenheiten" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} 