{% load i18n %}

<div class="modal fade" id="workingHoursModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Arbeitszeit bearbeiten" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="workingHoursForm">
                    <input type="hidden" id="workingHoursId">
                    <div class="mb-3">
                        <label class="form-label">{% trans "Datum" %}</label>
                        <input type="text" class="form-control" id="workDate" readonly>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">{% trans "Von" %}</label>
                            <input type="time" class="form-control" id="startTime">
                        </div>
                        <div class="col">
                            <label class="form-label">{% trans "Bis" %}</label>
                            <input type="time" class="form-control" id="endTime">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">{% trans "Pause (HH:MM)" %}</label>
                        <input type="text" class="form-control" id="breakDuration">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">{% trans "Notizen" %}</label>
                        <textarea class="form-control" id="notes"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Abbrechen" %}</button>
                <button type="button" class="btn btn-primary" onclick="saveWorkingHours()">{% trans "Speichern" %}</button>
            </div>
        </div>
    </div>
</div> 